@import "tailwindcss";
/* FORCE class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));
.input {
  @apply w-full border border-zinc-300 px-3 py-2 rounded-lg text-sm outline-none focus:ring-2 focus:ring-zinc-300;
}
@theme {
  --color-primary: #ff6900;
  --color-secondary: #0b1a3a;
}
@keyframes arrow-bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
}

/* Soft pulse (breathing effect) */
@keyframes soft-pulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  }
}

/* Micro bounce for icon */
@keyframes icon-bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
}

/* Autofill fix for dark mode */
.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1e2939 inset !important; /* dark bg */
  -webkit-text-fill-color: #fff !important; /* text white */
  transition: background-color 9999s ease-in-out 0s;
}

.swiper {
  padding-bottom: 50px;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background: #5e6369 !important;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
  width: 13px !important;
  height: 13px !important;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}
